.Rproj.user
.Rhistory
.RData
.Ruserdata
data
longest_pos.csv
sum.R
longest.csv
longral.csv
sum.Rmd
ninja trial.Rmd
ninja_trial.html
ninja_trial_files
plot1.jpeg
plot10.jpeg
plot11.jpeg
plot12.jpeg
plot2.jpeg
plot3.jpeg
plot4.jpeg
plot5.jpeg
plot6.jpeg
plot7.jpeg
plot8.jpeg
plot9.jpeg
plotty.jpeg
plotty2.jpeg
plotty3.jpeg
angle1.jpeg
angle2.jpeg
box1.jpeg
box2.jpeg
box3.jpeg
box4.jpeg
cor1.png
cor2.html
cor2.png
cor3.png
court.jpeg
court2.jpeg
court3.jpeg
court4.jpeg
Tennis research presentation.Rmd
Tennis_research_presentation.html
Tennis_research_presentation_files
console hitsory.Rhistory
eyetracking-general.Rmd
height.jpeg
